<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Country Management</title>
</head>
<body style="font-family: 'Segoe UI Semibold'">

<div class="card" style="margin-top: 5px;">
  <div class="card-header">
    <button class="btn btn-primary" id="addCountry" (click)="addCountry()" style="width: 6rem;">Add</button>
    <button class="btn btn-success" id="viewCountry" (click)="viewCountry()" style="margin-left: 8px; width: 6rem;">View</button>
  </div>

  <div class="card-body">

    <div id="add">
      <fieldset style="margin: 2rem;" class="form-group border p-3">
        <legend class="w-auto px-2" style="margin-bottom: 1rem;">Country Details</legend>
        <form style="margin-top: 2rem; width: 99%;" id="farmerForm">
          <div class="container">

            <div class="row farmerDetails">

              <div class="col-sm">
                <div class="col-md-12">
                  <label for="countryName" class="form-label">Country Name</label>
                  <input  type="text" class="form-control" id="countryName" name="countryName" placeholder="Enter Country Name">
                  <div id="countryNameAlert" class="custom-alert"></div>
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                  <label for="status" class="form-label">Status</label>
                  <select id="status" name="status" class="form-control">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                  </select>
                  <div id="statusAlert" class="custom-alert"></div>
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                </div>
              </div>

              <div class="col-sm">
                <div class="col-md-12">
                </div>
              </div>
            </div>


          </div>

          <div style="margin-top: 2rem;" class="container">

            <div class="row buttonClass">

              <div class="col-sm">
                <div class="col-md-12">

                  <button id="btnSubmit" class="btn btn-primary" type="submit">Submit</button>
                  <button id="btnReset" class="btn btn-warning" type="reset" style="margin-left: 1rem">Reset</button>
                </div>
              </div>

            </div>
          </div>

        </form>
      </fieldset>
    </div>

    <div id="view">
      <fieldset style="margin: 2rem;" class="form-group border p-3">
        <legend class="w-auto px-2" style="margin-bottom: 1rem;">View Country Details</legend>
        <div style="margin-top: 2rem;" class="container">
          <div class="row">
            <div class="col-sm">
              <div class="col-md-12">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th style="font-weight: bold">Country Name</th>
                    <th style="font-weight: bold">Status</th>
                    <th style="font-weight: bold">Action</th>
                  </tr>
                  </thead>
                  <tbody id="countryTable">
                  <tr *ngFor="let country of countryList">
                    <td>{{country.countryName}}</td>
                    <td>{{country.active}}</td>
                    <td>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="card-footer text-muted">
    <h5>By : Sambit Kumar Pradhan</h5>
  </div>

</div>
</body>
</html>

